<section class="product section">
    <div class="container">
        <div class="product__inner">
            <div class="product__gallery">
                <div class="product__gallery-thumbs">
                    <swiper-container class="product__gallery-thumbs-slider" init="false">
                        <swiper-slide><img src="https://d2opxh93rbxzdn.cloudfront.net/original/2X/4/40cfa8ca1f24ac29cfebcb1460b5cafb213b6105.png" alt=""></swiper-slide>   <swiper-slide><img src="https://d2opxh93rbxzdn.cloudfront.net/original/2X/4/40cfa8ca1f24ac29cfebcb1460b5cafb213b6105.png" alt=""></swiper-slide>   <swiper-slide><img src="https://d2opxh93rbxzdn.cloudfront.net/original/2X/4/40cfa8ca1f24ac29cfebcb1460b5cafb213b6105.png" alt=""></swiper-slide>
                    </swiper-container>
                </div>
                <div class="product__gallery-main">
                    <swiper-container class="product__gallery-main-slider"
                                      thumbs-swiper=".product__gallery-thumbs-slider" init="false">
                        <swiper-slide><img src="https://d2opxh93rbxzdn.cloudfront.net/original/2X/4/40cfa8ca1f24ac29cfebcb1460b5cafb213b6105.png" alt=""></swiper-slide>   <swiper-slide><img src="https://d2opxh93rbxzdn.cloudfront.net/original/2X/4/40cfa8ca1f24ac29cfebcb1460b5cafb213b6105.png" alt=""></swiper-slide>   <swiper-slide><img src="https://d2opxh93rbxzdn.cloudfront.net/original/2X/4/40cfa8ca1f24ac29cfebcb1460b5cafb213b6105.png" alt=""></swiper-slide>
                    </swiper-container>
                </div>
            </div>
            <div class="product__info">
                <div class="product__top">
                    <h3 class="product__title title title_h2">

                    </h3>
                    <div class="product__price">

                    </div>
                </div>
                <div class="product__variants">
                    <div class="product__variants-items">
                        <button class="product__variants-item">

                        </button>
                    </div>
                </div>
                <div class="product__options">
                    <div class="product__options-text">Select Size:</div>
                    <div class="product__options-items">
                        <button class="product__options-item">

                        </button>
                    </div>
                </div>
                <button class="product__btn btn btn_black">
                    <span>Add To Bag</span>
                </button>
                <div class="product__descr">
                    Let your attitude have the edge in your Nike Air Max Plus, a Tuned Air experience that offers
                    premium stability and unbelievable cushioning.
                </div>
            </div>
        </div>

        <script>

            const thumbsSlider = document.querySelector('.product__gallery-thumbs-slider'),
                mainSlider = document.querySelector('.product__gallery-main-slider');

            const thumbsParams = {
                direction: 'vertical',
                slidesPerView: 5,
                spaceBetween: 10,
                freeMode: true,
                watchSlidesProgress: true,
                allowTouchMove: true,
                watchOverflow: true,
                breakpoints: {
                    0: {
                        direction: 'horizontal',
                        slidesPerView: 'auto',
                        spaceBetween: 10,
                    },
                    769: {
                        direction: 'vertical',
                        slidesPerView: 5,
                        spaceBetween: 10,
                    }
                },
                injectStyles: [
                    `  .swiper-wrapper {
               justify-content: space-between;
            }
         `
                ],
            };

            const mainParams = {
                spaceBetween: 10,
                slidesPerView: 1,
            };

            Object.assign(thumbsSlider, thumbsParams);
            Object.assign(mainSlider, mainParams);

            thumbsSlider.initialize();
            mainSlider.initialize();
        </script>
</section>