:root {
    --border-radius: 8px;
    --container-full-width: 1320px;
    --container-medium-width: 872px;
    --container-padding-desktop: 60px;
    --container-padding-mobile: 16px;

    --color-dark: #111111;
    --color-light: #ffffff;
    --color-accent: #737373;

    --color-text-dark: var(--color-dark);
    --color-text-light: var(--color-light);
    --color-text-sub: var(--color-accent);

    --color-background-dark: var(--color-dark);
    --color-background-light: var(--color-light);
}